body {
    font-family: Georgia, Helvetica, serif;
    font-size: 25px;
    background-color: #262626;
    color: white;
    cursor: auto;
}

.content {
    text-align: center;
    /*display: inline-block;*/
    padding: .5em 1em;
    margin: 150px auto 0;
}

span {
    color: dodgerblue;
    /*border-bottom: 1px dotted #fff;*/
    cursor: col-resize;
}