body {
    font-family: Georgia, Helvetica, serif;
    font-size: 25px;
    background-color: #262626;
    color: white;
}

.content {
    text-align: center;
    /*display: inline-block;*/
    padding: .5em 1em;
    margin: 150px auto 0;
}

span {
    color: #00e0ff;
    /*border-bottom: 1px dotted #fff;*/
}

.SweepNumberJS {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    font-family: 'Courier New', monospace;
    font-size: 17px;
}

.SweepNumberJS:before {
    content: "\21CB";
    position: absolute;
    left: -21px;
    top: 15px;
}

.sweep {
    /*cursor: col-resize;*/
}